# Исследование надежности заемщиков

## Изучение данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
from pathlib import Path
import pandas as pd

Ниже, небольшая модернизация с помощью функции, которая учитывает различные варианты источников и путей. Конечно, задача здесь простая и не требует такого комплексного подхода, но при изменении условий и сред исполнения, такой подход позволит избежать дополнительных адаптаций кода. 
    Функция перебирает словарь с переменными и их путями, ищет первый существующий файл для каждой переменной и читает его.
    Возвращает словарь с данными из найденных файлов. Если указан параметр assign_to, присваивает каждый DataFrame
    соответствующей переменной в этом словаре.
    
    :param data_sources: словарь с названиями переменных и списками их путей
    :param assign_to: словарь, в который будут присвоены DataFrame'ы
    :return: словарь с данными для каждой переменной

In [2]:
def find_and_select_data_files(data_sources, assign_to=None):

    data_frames = {}

    for variable, paths in data_sources.items():
        for file_path in paths:
            file = Path(file_path)
            if file.exists() and file.is_file():
                try:
                    if file.suffix == '.csv':
                        df = pd.read_csv(file)
                    elif file.suffix in ['.xls', '.xlsx']:
                        df = pd.read_excel(file)
                    else:
                        print(f"Формат файла '{file.suffix}' не поддерживается.")
                        continue

                    data_frames[variable] = df
                    print(f"Для переменной '{variable}' прочитан файл: {file}")

                    if assign_to is not None and variable in assign_to:
                        globals()[assign_to[variable]] = df

                except Exception as e:
                    print(f"Ошибка при чтении файла '{file}': {e}")
                break
        else:
            print(f"Файл данных для переменной '{variable}' не найден.")
    
    return data_frames

In [4]:
data_sources = {
    "data": ["/datasets/data.csv", "https://code.s3.yandex.net/datasets/data.csv", "data.csv"]
}

assignments = {
    "data": "data"
}


dfs = find_and_select_data_files(data_sources, assign_to=assignments)

Для переменной 'data' прочитан файл: data.csv

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [5]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [7]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [8]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [9]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [10]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [11]:
data['children'].unique()вв

SyntaxError: invalid syntax (2955374922.py, line 1)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [12]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [13]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [14]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [15]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [16]:
data['total_income'] = data['total_income'].astype(int)

C:\Users\klyuchevenko.e\AppData\Local\Temp\ipykernel_8892\1002644910.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [17]:
data.duplicated().sum()

54

In [18]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [19]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [20]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [21]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [22]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [23]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [24]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

Сгруппируем данные по количеству детей и вычислим среднее значение просрочивших платежи в каждой из групп

In [25]:
print(data.groupby('children').agg({'debt': ['sum', 'count', 'mean']}))

          debt
           sum  count      mean
children
0         1063  14107  0.075353
1          444   4809  0.092327
2          194   2052  0.094542
3           27    330  0.081818
4            4     41  0.097561
5            0      9  0.000000

**Вывод:** Наиболее низкий показатель просрочек у кредиторов без детей - всего 7.5% просрочивших из выборки по группе. При этом, кредиторы, имеющие хотя бы одного ребенка возвращают примерно с одинаковым успехом - 8-9.7%. Самый большой процент просрочивших платежи в группе с четерымя детьми - 9,7% из выборки по группе. При этом, обладатели пяти детей все платили вовремя, однако, в этой группе слишком мало данных (всего девять кредиторов) и считать ее репрезентативной нельзя.

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

Сгруппируем данные по семейному положению и вычислим среднее значение просрочивших платежи в каждой из групп

In [26]:
print(data.groupby('family_status').agg({'debt': ['sum', 'count', 'mean']}))

                      debt
                       sum  count      mean
family_status
Не женат / не замужем  273   2796  0.097639
в разводе               84   1189  0.070648
вдовец / вдова          63    951  0.066246
гражданский брак       385   4146  0.092861
женат / замужем        927  12266  0.075575

**Вывод:** Самые низкие показатели просрочек наблюдаются в группе "вдова / вдовец" - всего 6,6% просрочивших из выборки по группе. На втором месте разведенные кредиторы - это 7% просрочивших из выборки по группе. Самый высокий процент просрочек (9.7%) у замужних и женатых кредиторов.

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

Сгруппируем данные по уровню дохода через ранее обозначенные группы A-E, и вычислим среднее значение просрочивших платежи в каждой из групп

In [27]:
print(data.groupby('total_income_category').agg({'debt': ['sum', 'count', 'mean']}))

                       debt
                        sum  count      mean
total_income_category
A                         2     25  0.080000
B                       354   5014  0.070602
C                      1353  15938  0.084891
D                        21    349  0.060172
E                         2     22  0.090909

**Вывод:** Наилучшие показатели по возвратам в группе D, т.е. с доходом от 30 до 50 тысяч рублей - всего 7% из выборки по группе, по сравнению с группой E, с доходом до 30 тысяч, где просрочки самые частые - на уровне 9%  из выборки по группе.

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

Сгруппируем данные по целям кредитования и вычислим среднее значение просрочивших платежи в каждой из групп

In [28]:
print(data.groupby('purpose_category').agg({'debt': ['sum', 'count', 'mean']}))

                         debt
                          sum  count      mean
purpose_category
операции с автомобилем    400   4281  0.093436
операции с недвижимостью  780  10754  0.072531
получение образования     369   3989  0.092504
проведение свадьбы        183   2324  0.078744

**Вывод:** Чаще в срок платят те, кто берет кредит на свадьбу(7,8%  из выборки по группе) и операции с недвижимостью(7,2%  из выборки по группе) - разница с процентом просрочивших платеж по кредитам на образование и недвижимость более 2%. Хуже всего платят автомобилисты - 9.3%  из выборки по группе.

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

*Ответ:* Пропуски есть только в двух столбцах - доход и трудоваой стаж, причем количество пропущенных значений одинаково в обоих. Можно предположить, что пропуски связаны с ошибками выгрузки. Вариант с нузаполненными значениями кредитором можно исключить, т.к. пропущенные данные, вероятнее всего обязательны при оформлении кредита.

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:* Средние значения в выборке могут смещаться в сторону потенциальных выбросов данных (пиковых значений) и тем самым давать некорректный результат при анализе.

## Общий вывод.

Выборки данных достаточно для принятия решений о выделении благонадежных плательщиков. Как было определено, наиболее высокая вероятность возврата кредита в срок у ранее состоявших в браке кредиторов не имеющих детей, имеющих доход 30-50 тысяч рублей с целями по кредиту, связанными с недвижимостью и свадьбой.

Объявим переменную, в которую поместим датафрейм всех кредиторов удовлетворяющих выделенным критериям. Далее, определим дополнительные характерные критерии для выделенной группы кредиторов

In [29]:
short_list = (
    data[(data['children'] == 0) &
         ((data['family_status'] == 'вдовец / вдова') |
          (data['family_status'] == 'в разводе')) &
         (data['total_income_category'] == 'D') &
         ((data['purpose_category'] == 'проведение свадьбы') |
          (data['purpose_category'] == 'операции с недвижимостью'))])

проаналиируем выборку по гендорному признаку

In [30]:
short_list['gender'].value_counts()

gender
F    16
Name: count, dtype: int64

 проаналиируем выборку по типу занятости

In [31]:
short_list['income_type'].value_counts()

income_type
пенсионер    15
сотрудник     1
Name: count, dtype: int64

определим средний возраст в выборке

In [32]:
short_list['dob_years'].mean()

59.0625

проаналиируем выборку по образованию кредитора

In [33]:
short_list['education'].value_counts()

education
среднее      14
начальное     1
высшее        1
Name: count, dtype: int64

Итак, в финальную выборку попало 16ть кредиторов. После дополнительного анализа, можно сказать, что выбранным критериям соответствуют исключительно женщины со средним возрастом 59 лет, преимущественно пенсионеры, получившие среднее образование.